{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAI API",
    "version": "2.3.0"
  },
  "servers": [
    {
      "url": "https://api.ads.openai.com/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "AdsOAuth": ["ads.admin.all.read"]
    }
  ],
  "paths": {
    "/campaigns": {
      "get": {
        "summary": "Get all campaigns for an ad account",
        "operationId": "ListCampaignsMethod",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CampaignListIncludeParam"
              }
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 1000,
              "pattern": "^.*\\S.*$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ListOrderParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.campaigns.list_campaigns.ListCampaignsMethod"
      },
      "post": {
        "summary": "Create a campaign for an ad account",
        "operationId": "CreateCampaignMethod",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key for retrying this create request. If a matching prior create is visible, the existing object is returned instead of creating a duplicate. Must contain at least one non-whitespace character and be at most 255 characters.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": ".*\\S.*"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.campaigns.create_campaign.CreateCampaignMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/campaigns/{campaign_id}": {
      "get": {
        "summary": "Get a campaign",
        "operationId": "GetCampaignMethod",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CampaignGetItemIncludeParam"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.campaigns.get_campaign.GetCampaignMethod"
      },
      "post": {
        "summary": "Update a campaign",
        "operationId": "UpdateCampaignMethod",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.campaigns.update_campaign.UpdateCampaignMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/campaigns/{campaign_id}/activate": {
      "post": {
        "summary": "Activate a campaign",
        "operationId": "ActivateCampaignMethod",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.campaigns.activate_campaign.ActivateCampaignMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/campaigns/{campaign_id}/pause": {
      "post": {
        "summary": "Pause a campaign",
        "operationId": "PauseCampaignMethod",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.campaigns.pause_campaign.PauseCampaignMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/campaigns/{campaign_id}/archive": {
      "post": {
        "summary": "Archive a campaign",
        "operationId": "ArchiveCampaignMethod",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.campaigns.archive_campaign.ArchiveCampaignMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/custom_audiences": {
      "get": {
        "summary": "List custom audiences for the authenticated ad account.",
        "operationId": "ListCustomAudiencesMethod",
        "parameters": [
          {
            "name": "intended_use",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CustomAudienceIntendedUseParam"
            }
          },
          {
            "name": "custom_audience_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 500
            }
          },
          {
            "name": "policy_revision",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 64,
              "maxLength": 64
            }
          },
          {
            "name": "matched_count_granularity",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CustomAudienceMatchedCountGranularityParam"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ListOrderParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAudiencesResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.custom_audiences.list_custom_audiences.ListCustomAudiencesMethod"
      },
      "post": {
        "summary": "Create a custom audience from an uploaded file, or without a file when small audiences are enabled for the account. Processing and publication are asynchronous.",
        "operationId": "CreateCustomAudienceMethod",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomAudienceBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAudienceItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.custom_audiences.create_custom_audience.CreateCustomAudienceMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/custom_audiences/{custom_audience_id}": {
      "get": {
        "summary": "Get a custom audience for the authenticated ad account.",
        "operationId": "GetCustomAudienceMethod",
        "parameters": [
          {
            "name": "custom_audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matched_count_granularity",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CustomAudienceMatchedCountGranularityParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAudienceItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.custom_audiences.get_custom_audience.GetCustomAudienceMethod"
      }
    },
    "/custom_audiences/{custom_audience_id}/archive": {
      "post": {
        "summary": "Archive a custom audience for the authenticated ad account.",
        "operationId": "ArchiveCustomAudienceMethod",
        "parameters": [
          {
            "name": "custom_audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAudienceItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.custom_audiences.archive_custom_audience.ArchiveCustomAudienceMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/custom_audiences/{custom_audience_id}/add": {
      "post": {
        "summary": "Add uploaded or inline identifiers to an existing custom audience.",
        "operationId": "AddCustomAudienceMembersMethod",
        "parameters": [
          {
            "name": "custom_audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key for retrying this create request. If a matching prior create is visible, the existing object is returned instead of creating a duplicate. Must contain at least one non-whitespace character and be at most 255 characters.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": ".*\\S.*"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAudienceMembershipMutationBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAudienceMembershipOperationBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.custom_audiences.mutate_custom_audience_members.AddCustomAudienceMembersMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/custom_audiences/{custom_audience_id}/remove": {
      "post": {
        "summary": "Remove uploaded or inline identifiers from an existing custom audience.",
        "operationId": "RemoveCustomAudienceMembersMethod",
        "parameters": [
          {
            "name": "custom_audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key for retrying this create request. If a matching prior create is visible, the existing object is returned instead of creating a duplicate. Must contain at least one non-whitespace character and be at most 255 characters.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": ".*\\S.*"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAudienceMembershipMutationBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAudienceMembershipOperationBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.custom_audiences.mutate_custom_audience_members.RemoveCustomAudienceMembersMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/custom_audiences/{custom_audience_id}/replace": {
      "post": {
        "summary": "Replace an existing audience using an uploaded file and its current revision.",
        "operationId": "ReplaceCustomAudienceMembersMethod",
        "parameters": [
          {
            "name": "custom_audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key for retrying this create request. If a matching prior create is visible, the existing object is returned instead of creating a duplicate. Must contain at least one non-whitespace character and be at most 255 characters.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": ".*\\S.*"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceCustomAudienceMembersBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAudienceMembershipOperationBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.custom_audiences.mutate_custom_audience_members.ReplaceCustomAudienceMembersMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/custom_audiences/merge": {
      "post": {
        "summary": "Create an independent custom audience containing all matched source members.",
        "operationId": "MergeCustomAudiencesMethod",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key for retrying this create request. If a matching prior create is visible, the existing object is returned instead of creating a duplicate. Must contain at least one non-whitespace character and be at most 255 characters.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": ".*\\S.*"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MergeCustomAudiencesBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAudienceMembershipOperationBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.custom_audiences.mutate_custom_audience_members.MergeCustomAudiencesMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/custom_audiences/{custom_audience_id}/operations/{operation_id}": {
      "get": {
        "summary": "Retrieve the privacy-safe lifecycle state of a custom audience operation.",
        "operationId": "GetCustomAudienceOperationMethod",
        "parameters": [
          {
            "name": "custom_audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAudienceMembershipOperationBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.custom_audiences.mutate_custom_audience_members.GetCustomAudienceOperationMethod"
      }
    },
    "/custom_audiences/{custom_audience_id}/operations": {
      "get": {
        "summary": "List accepted custom audience operations for the authenticated ad account.",
        "operationId": "ListCustomAudienceOperationsMethod",
        "parameters": [
          {
            "name": "custom_audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAudienceMembershipOperationsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.custom_audiences.mutate_custom_audience_members.ListCustomAudienceOperationsMethod"
      }
    },
    "/custom_audiences/{custom_audience_id}/operations/{operation_id}/resume": {
      "post": {
        "summary": "Resume an existing ADD or REMOVE operation using its original inputs and checkpoints. No request body or Idempotency-Key is required.",
        "operationId": "ResumeCustomAudienceOperationMethod",
        "parameters": [
          {
            "name": "custom_audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAudienceMembershipOperationBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.custom_audiences.mutate_custom_audience_members.ResumeCustomAudienceOperationMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/custom_audiences/{custom_audience_id}/operations/{operation_id}/cancel": {
      "post": {
        "summary": "Cancel an accepted ADD or REMOVE operation before membership changes begin. Operations already applying changes cannot be canceled.",
        "operationId": "CancelCustomAudienceOperationMethod",
        "parameters": [
          {
            "name": "custom_audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAudienceMembershipOperationBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.custom_audiences.mutate_custom_audience_members.CancelCustomAudienceOperationMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/api_keys": {
      "post": {
        "summary": "Create an API key scoped to the selected ad account.",
        "operationId": "CreateApiKeyMethod",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.create_api_key.CreateApiKeyMethod",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/ad_account/brand": {
      "post": {
        "summary": "Update ad account brand metadata.",
        "operationId": "UpdateAdAccountMethod",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAdAccountBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdAccountResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.update_ad_account.UpdateAdAccountMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/ad_account/activate": {
      "post": {
        "summary": "Activate the ad account.",
        "operationId": "ActivateAdAccountMethod",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdAccountResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.activate_ad_account.ActivateAdAccountMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/ad_account/pause": {
      "post": {
        "summary": "Pause the ad account.",
        "operationId": "PauseAdAccountMethod",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdAccountResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.pause_ad_account.PauseAdAccountMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/ad_accounts": {
      "get": {
        "summary": "List ad accounts accessible to the authenticated API key",
        "operationId": "ListAdAccountsMethod",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdAccountsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.list_ad_accounts.ListAdAccountsMethod"
      }
    },
    "/ad_account_creation_sessions": {
      "post": {
        "summary": "Start OpenAI-hosted Ads account creation for an authorized partner user.",
        "operationId": "CreateAdAccountCreationSessionMethod",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key for retrying this create request. If a matching prior create is visible, the existing object is returned instead of creating a duplicate. Reusing a key with a different request body is rejected. Must contain at least one non-whitespace character and be at most 255 characters.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": ".*\\S.*"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAdAccountCreationSessionBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdAccountCreationSessionResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.ad_account_creation_sessions.CreateAdAccountCreationSessionMethod",
        "security": [
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/me": {
      "get": {
        "summary": "Return the authenticated user's stable application-scoped opaque identifier.",
        "operationId": "GetAdsOAuthMeMethod",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsOAuthMeResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.me.GetAdsOAuthMeMethod",
        "security": [
          {
            "AdsOAuth": ["ads.admin.all.read"]
          }
        ]
      }
    },
    "/ad_account": {
      "get": {
        "summary": "Get metadata for the ad account",
        "operationId": "GetAdAccountMethod",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdAccountResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.get_ad_account.GetAdAccountMethod"
      }
    },
    "/ad_account/spend_limit_windows": {
      "get": {
        "summary": "View spend limit windows with inclusive start dates and exclusive end dates, ordered by start time ascending. Daily recurrence is returned separately; data remains dated windows only. Creating account spending limits requires an ad account on postpaid invoice billing.",
        "operationId": "GetAdAccountSpendLimitWindowsMethod",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdAccountSpendLimitWindowsListResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.get_ad_account_spend_limit_windows.GetAdAccountSpendLimitWindowsMethod"
      },
      "post": {
        "summary": "Create a spend limit window with an inclusive start date and exclusive end date. Available only for ad accounts on postpaid invoice billing.",
        "operationId": "CreateAdAccountSpendLimitWindowMethod",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAdAccountSpendLimitWindowBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdAccountSpendLimitWindowBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.create_ad_account_spend_limit_window.CreateAdAccountSpendLimitWindowMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/ad_account/spend_limit_windows/{window_id}": {
      "post": {
        "summary": "Edit a spend limit window with an inclusive start date and exclusive end date. Available only for ad accounts on postpaid invoice billing.",
        "operationId": "UpdateAdAccountSpendLimitWindowMethod",
        "parameters": [
          {
            "name": "window_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAdAccountSpendLimitWindowBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdAccountSpendLimitWindowBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.update_ad_account_spend_limit_window.UpdateAdAccountSpendLimitWindowMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/ad_account/spend_limit_windows/{window_id}/delete": {
      "post": {
        "summary": "Delete an active or scheduled spend limit window before it ends. Available only for ad accounts on postpaid invoice billing.",
        "operationId": "DeleteAdAccountSpendLimitWindowMethod",
        "parameters": [
          {
            "name": "window_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAdAccountSpendLimitWindowResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.delete_ad_account_spend_limit_window.DeleteAdAccountSpendLimitWindowMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/ad_account/insights": {
      "get": {
        "summary": "Get ad account insights aggregated by time granularity. Attribution metrics for the current account-local day are preliminary and may change as conversions are processed.",
        "operationId": "GetAdAccountInsightsMethod",
        "parameters": [
          {
            "name": "time_granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregation_level",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2000
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_ranges",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "segments",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "override_segment_group_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.insights.get_ad_account_insights.GetAdAccountInsightsMethod"
      }
    },
    "/campaigns/{campaign_id}/insights": {
      "get": {
        "summary": "Get campaign insights aggregated by time granularity. Attribution metrics for the current account-local day are preliminary and may change as conversions are processed.",
        "operationId": "GetCampaignInsightsMethod",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregation_level",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2000
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_ranges",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "segments",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "override_segment_group_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.insights.get_campaign_insights.GetCampaignInsightsMethod"
      }
    },
    "/ad_groups/{ad_group_id}/insights": {
      "get": {
        "summary": "Get ad group insights aggregated by time granularity. Attribution metrics for the current account-local day are preliminary and may change as conversions are processed.",
        "operationId": "GetAdGroupInsightsMethod",
        "parameters": [
          {
            "name": "ad_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregation_level",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2000
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_ranges",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "segments",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "override_segment_group_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.insights.get_ad_group_insights.GetAdGroupInsightsMethod"
      }
    },
    "/ads/{ad_id}/insights": {
      "get": {
        "summary": "Get ad insights aggregated by time granularity. Attribution metrics for the current account-local day are preliminary and may change as conversions are processed.",
        "operationId": "GetAdInsightsMethod",
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregation_level",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2000
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_ranges",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "segments",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "override_segment_group_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.insights.get_ad_insights.GetAdInsightsMethod"
      }
    },
    "/geo_lookup/search": {
      "get": {
        "summary": "Search Market locations and standard region codes for advertiser geo targeting.",
        "operationId": "GetGeoLookupMethod",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeoLookupSearchResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.geo_lookup.GetGeoLookupMethod"
      }
    },
    "/lead_sync_subscriptions": {
      "post": {
        "summary": "Provision lead delivery to a managed Webhooks endpoint.",
        "operationId": "CreateLeadSyncSubscriptionMethod",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key for retrying this create request. If a matching prior create is visible, the existing object is returned instead of creating a duplicate. Reusing a key with a different request body is rejected. Must contain at least one non-whitespace character and be at most 255 characters.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": ".*\\S.*"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeadSyncSubscriptionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedLeadSyncSubscriptionResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.lead_sync_subscriptions.CreateLeadSyncSubscriptionMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      },
      "get": {
        "summary": "List the lead-sync subscription for an authorized Ad Account.",
        "operationId": "ListLeadSyncSubscriptionsMethod",
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadSyncSubscriptionsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.lead_sync_subscriptions.ListLeadSyncSubscriptionsMethod"
      }
    },
    "/lead_sync_subscriptions/{subscription_id}": {
      "get": {
        "summary": "Get a lead-sync subscription.",
        "operationId": "GetLeadSyncSubscriptionMethod",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadSyncSubscriptionResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.lead_sync_subscriptions.GetLeadSyncSubscriptionMethod"
      },
      "delete": {
        "summary": "Delete a lead-sync subscription.",
        "operationId": "DeleteLeadSyncSubscriptionMethod",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedLeadSyncSubscriptionResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.lead_sync_subscriptions.DeleteLeadSyncSubscriptionMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/conversions/api_keys": {
      "post": {
        "summary": "Create a Conversions API key for the currently authenticated ad account.",
        "operationId": "CreateConversionApiKeyMethod",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConversionApiKeyBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionApiKeyResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.conversions.create_conversion_api_key.CreateConversionApiKeyMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/conversions/event_settings": {
      "post": {
        "summary": "Create a conversion event setting for the currently authenticated ad account.",
        "operationId": "CreateConversionEventSettingMethod",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConversionEventSettingBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionEventSettingItemResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.conversions.create_conversion_event_setting.CreateConversionEventSettingMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      },
      "get": {
        "summary": "List conversion event settings for the currently authenticated ad account.",
        "operationId": "ListConversionEventSettingsMethod",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ListOrderParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConversionEventSettingsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.conversions.list_conversion_event_settings.ListConversionEventSettingsMethod"
      }
    },
    "/conversions/pixels": {
      "post": {
        "summary": "Create a conversion pixel.",
        "operationId": "CreateConversionSourceMethod",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConversionSourceBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDataSourceItemResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.conversions.create_conversion_source.CreateConversionSourceMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      },
      "get": {
        "summary": "List conversion pixels and connected pixel ids for the acting ad account.",
        "operationId": "ListConversionSourcesMethod",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ListOrderParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListClientDataSourceItemsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.conversions.list_conversion_sources.ListConversionSourcesMethod"
      }
    },
    "/conversions/events": {
      "get": {
        "summary": "List recent sampled conversion events for the acting ad account.",
        "operationId": "ListConversionEventsMethod",
        "parameters": [
          {
            "name": "pid",
            "in": "query",
            "description": "Pixel ID to query within the acting ad account.",
            "required": true,
            "schema": {
              "description": "Pixel ID to query within the acting ad account.",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum conversion events to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionEventsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.conversions.list_conversion_events.ListConversionEventsMethod",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/conversions/insights": {
      "post": {
        "summary": "Get attributed conversion totals or daily values for the authenticated ad account.",
        "operationId": "PostConversionInsightsMethod",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostConversionInsightsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionSummaryRowsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.conversions.post_conversion_insights.PostConversionInsightsMethod"
      }
    },
    "/ad_groups": {
      "get": {
        "summary": "Get ad groups for the ad account, optionally filtered by campaign",
        "operationId": "ListAdGroupsMethod",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AdGroupsListIncludeParam"
              }
            }
          },
          {
            "name": "campaign_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 1000,
              "pattern": "^.*\\S.*$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ListOrderParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.ad_groups.list_ad_groups.ListAdGroupsMethod"
      },
      "post": {
        "summary": "Create an ad group for a campaign",
        "operationId": "CreateAdGroupMethod",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key for retrying this create request. If a matching prior create is visible, the existing object is returned instead of creating a duplicate. Must contain at least one non-whitespace character and be at most 255 characters.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": ".*\\S.*"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAdGroupBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.ad_groups.create_ad_group.CreateAdGroupMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/ad_groups/{ad_group_id}": {
      "get": {
        "summary": "Get an ad group",
        "operationId": "GetAdGroupMethod",
        "parameters": [
          {
            "name": "ad_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AdGroupItemIncludeParam"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.ad_groups.get_ad_group.GetAdGroupMethod"
      },
      "post": {
        "summary": "Update an ad group",
        "operationId": "UpdateAdGroupMethod",
        "parameters": [
          {
            "name": "ad_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAdGroupBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.ad_groups.update_ad_group.UpdateAdGroupMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/ad_groups/{ad_group_id}/activate": {
      "post": {
        "summary": "Activate an ad group",
        "operationId": "ActivateAdGroupMethod",
        "parameters": [
          {
            "name": "ad_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.ad_groups.activate_ad_group.ActivateAdGroupMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/ad_groups/{ad_group_id}/pause": {
      "post": {
        "summary": "Pause an ad group",
        "operationId": "PauseAdGroupMethod",
        "parameters": [
          {
            "name": "ad_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.ad_groups.pause_ad_group.PauseAdGroupMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/ad_groups/{ad_group_id}/archive": {
      "post": {
        "summary": "Archive an ad group",
        "operationId": "ArchiveAdGroupMethod",
        "parameters": [
          {
            "name": "ad_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.ad_groups.archive_ad_group.ArchiveAdGroupMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/ads": {
      "get": {
        "summary": "Get ads for the ad account, optionally filtered by ad group",
        "operationId": "ListAdsMethod",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AdsListIncludeParam"
              }
            }
          },
          {
            "name": "ad_group_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 1000,
              "pattern": "^.*\\S.*$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ListOrderParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.ads.list_ads.ListAdsMethod"
      },
      "post": {
        "summary": "Create an ad for an ad group",
        "operationId": "CreateAdMethod",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key for retrying this create request. If a matching prior create is visible, the existing object is returned instead of creating a duplicate. Must contain at least one non-whitespace character and be at most 255 characters.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": ".*\\S.*"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAdBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.ads.create_ad.CreateAdMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/ads/{ad_id}": {
      "get": {
        "summary": "Get an ad",
        "operationId": "GetAdMethod",
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AdItemIncludeParam"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.ads.get_ad.GetAdMethod"
      },
      "post": {
        "summary": "Update an ad",
        "operationId": "UpdateAdMethod",
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAdBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.ads.update_ad.UpdateAdMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/ads/{ad_id}/preview": {
      "post": {
        "summary": "Create a temporary iframe preview for an existing ad.",
        "operationId": "CreateAdPreviewMethod",
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdPreviewResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.ads.preview.CreateAdPreviewMethod"
      }
    },
    "/ads/{ad_id}/activate": {
      "post": {
        "summary": "Activate an ad",
        "operationId": "ActivateAdMethod",
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.ads.activate_ad.ActivateAdMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/ads/{ad_id}/pause": {
      "post": {
        "summary": "Pause an ad",
        "operationId": "PauseAdMethod",
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.ads.pause_ad.PauseAdMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/ads/{ad_id}/archive": {
      "post": {
        "summary": "Archive an ad",
        "operationId": "ArchiveAdMethod",
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdItemBody"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.ads.archive_ad.ArchiveAdMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/uploads": {
      "post": {
        "summary": "Upload a file and return a file id",
        "operationId": "UploadBlobMethod",
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadBlobBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadBlobResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.uploads.upload_blob.UploadBlobMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/upload": {
      "post": {
        "summary": "Upload an image URL or image file and return a file id",
        "operationId": "UploadImageMethod",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadImageBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadImageBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadImageResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.uploads.upload_image.UploadImageMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/feeds/{feed_id}/archive": {
      "post": {
        "summary": "Archive a product feed for the authenticated ad account.",
        "operationId": "ArchiveProductFeedMethod",
        "parameters": [
          {
            "name": "feed_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchivedProductFeedResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.product_feeds.archive_product_feed.ArchiveProductFeedMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/feeds": {
      "post": {
        "summary": "Create a product feed for the authenticated ad account.",
        "operationId": "CreateProductFeedMethod",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductFeedBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductFeedResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.product_feeds.create_product_feed.CreateProductFeedMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      },
      "get": {
        "summary": "List product feeds for the authenticated ad account.",
        "operationId": "ListProductFeedsMethod",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ProductFeedsListIncludeParam"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductFeedsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.product_feeds.list_product_feeds.ListProductFeedsMethod"
      }
    },
    "/feeds/uploads": {
      "get": {
        "summary": "List recent product feed uploads for the authenticated ad account.",
        "operationId": "ListProductFeedUploadsMethod",
        "parameters": [
          {
            "name": "paginate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductFeedUploadsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.product_feeds.list_product_feed_uploads.ListProductFeedUploadsMethod"
      }
    },
    "/feeds/{feed_id}/products/query": {
      "post": {
        "summary": "List products in a feed that match the supplied ad group product filters.",
        "operationId": "QueryProductFeedProductsMethod",
        "parameters": [
          {
            "name": "feed_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryProductFeedProductsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryProductFeedProductsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.product_feeds.query_product_feed_products.QueryProductFeedProductsMethod"
      }
    },
    "/feeds/{feed_id}/products": {
      "patch": {
        "summary": "Update product availability and prices for an authenticated ad account feed.",
        "operationId": "PatchProductFeedProductsMethod",
        "parameters": [
          {
            "name": "feed_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchProductFeedProductsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductFeedDeltaResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.product_feeds.patch_product_feed_products.PatchProductFeedProductsMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/feeds/{feed_id}/sftp_access": {
      "get": {
        "summary": "Get SFTP access details for an authenticated ad account product feed.",
        "operationId": "GetProductFeedSftpAccessMethod",
        "parameters": [
          {
            "name": "feed_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductFeedSftpAccessResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.product_feeds.get_product_feed_sftp_access.GetProductFeedSftpAccessMethod"
      },
      "post": {
        "summary": "Create or replace SFTP access credentials for an authenticated ad account product feed.",
        "operationId": "PostProductFeedSftpAccessMethod",
        "parameters": [
          {
            "name": "feed_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostProductFeedSftpAccessBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductFeedSftpAccessCredentialsResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.product_feeds.post_product_feed_sftp_access.PostProductFeedSftpAccessMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/feeds/{feed_id}/sftp_access/activate": {
      "post": {
        "summary": "Activate SFTP access for an authenticated ad account product feed.",
        "operationId": "PostProductFeedSftpAccessActivateMethod",
        "parameters": [
          {
            "name": "feed_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductFeedSftpAccessResource"
                }
              }
            }
          }
        },
        "x-openai-class-name": "sofa.api.methods.product_feeds.post_product_feed_sftp_access_activate.PostProductFeedSftpAccessActivateMethod",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AdsOAuth": ["ads.admin.all.read", "ads.admin.all.write"]
          }
        ]
      }
    },
    "/feeds/{feed_id}/sftp_access/pause": {
      "post": {
        "summary": "Pause SFTP access for an authenticated ad account product feed.",
        "operationId": "PostProductFeedSftpAccessPauseMethod",
        "parameters": [
          {
            "name": "feed_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
[...]
